<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome!</h2>
  <p>
    We hope you find exactly what you're looking for in a place to stay.
  <br>
  <br>
    <strong>Hint! : This is not supposed to work unless you navigate to a sub-route - Happy browsing</strong>
  </p>
  {{#link-to 'about' class="button"}}
    About Us
  {{/link-to}}
</div>


<!--we're nesting the data that could be filtered inside of the component which will perform the filtering action-->
<!-- #each rentals inside of #list-filter-->

{{outlet}}

{{!-- {{#each model as |rentalUnit|}}
  {{rental-listing rental=rentalUnit}}
{{/each}} --}}